.item {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #C0D8C0;
    border-radius: 10px;

}

.itemTitle {
    color: blueviolet;
    font-size: 20px;

}

.item img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    /* align-items: center; */
}

.listItem {
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    margin-bottom: 100px;
    grid-gap: 10px;
    /* place-items: inherit; */
}